FinalGradeBookClient/xml-resources/web-service-references/GradeBookService/wsdl/localhost_8080/GradeBookService/GradeBookService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GradeBookService.bradley.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://GradeBookService.bradley.edu/" name="GradeBookService">
<types>
<xsd:schema>
<xsd:import namespace="http://GradeBookService.bradley.edu/" schemaLocation="http://localhost:8080/GradeBookService/GradeBookService?xsd=1"/>
</xsd:schema>
</types>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="getCourse">
<part name="parameters" element="tns:getCourse"/>
</message>
<message name="getCourseResponse">
<part name="parameters" element="tns:getCourseResponse"/>
</message>
<message name="getAssignment">
<part name="parameters" element="tns:getAssignment"/>
</message>
<message name="getAssignmentResponse">
<part name="parameters" element="tns:getAssignmentResponse"/>
</message>
<portType name="GradeBookService">
<operation name="getStudent">
<input wsam:Action="http://GradeBookService.bradley.edu/GradeBookService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://GradeBookService.bradley.edu/GradeBookService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="getCourse">
<input wsam:Action="http://GradeBookService.bradley.edu/GradeBookService/getCourseRequest" message="tns:getCourse"/>
<output wsam:Action="http://GradeBookService.bradley.edu/GradeBookService/getCourseResponse" message="tns:getCourseResponse"/>
</operation>
<operation name="getAssignment">
<input wsam:Action="http://GradeBookService.bradley.edu/GradeBookService/getAssignmentRequest" message="tns:getAssignment"/>
<output wsam:Action="http://GradeBookService.bradley.edu/GradeBookService/getAssignmentResponse" message="tns:getAssignmentResponse"/>
</operation>
</portType>
<binding name="GradeBookServicePortBinding" type="tns:GradeBookService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssignment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GradeBookService">
<port name="GradeBookServicePort" binding="tns:GradeBookServicePortBinding">
<soap:address location="http://localhost:8080/GradeBookService/GradeBookService"/>
</port>
</service>
</definitions>